<style>

.mainContent{
	background-color: white !important;
	background-image: none !important;
}

.productDemo{
	background-color: none;
}
</style>
<h1> Social Checkins </h1>

<div class="productDemo">
	<img src="/assets/productBanner.png" />
</div>