// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background-image: url("/assets/background.png"); 
}

.navbar-fixed-top{
	top: 20px;
	padding-top: 0px;	
}

h1{
	font-family: helvetica, san-serif;
	color:black;
	display: inline;
	vertical-align: middle;
	padding-left: 20px;
	font-size: 32px;
	text-shadow: 0 1px 0 black;
	font-weight: normal;

}

h2{
	font-family: helvetica, san-serif;
	color:black;
	display: inline;
	vertical-align: middle;
	padding-left: 20px;
	font-size: 35px;
	text-shadow: 0 1px 0 black;
	font-weight: normal;
	margin-top: 10px;

}

.page-header{
	margin: 0 0 25px 0;
	padding-top: 20px;
	padding-bottom: 15px;
	border-radius: 5px 5px 0 0;
	background: linear-gradient(to bottom,#009ae6 0,#0081c3 100%);
	color: #fff;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
	border-color: #111;


}

.page-header h1{
	color: white;
}



.new_user{
	background-color: #F5F5F5;
	width: 303px;
	padding: 20px 0 20px 30px;
	border-radius: 7px;
	margin-top: 15px;
}

.new_user label{
	font-weight: bold;
}

.content{
	margin: 10px 0 0 0;
}

.sidebar-nav{
	display: none;
}

.productDemo{
	margin-top: 20px;
	width: 100%;
	background-color: black;
	height: 300px;
}

.navbar-fixed-top{
	position: absolute;
}

.navbar-inner{
	
	background: none;
	border: none;
	text-align: right;
	font-weight: 600;
	font-size: 15px;

	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.1) !important;
	box-shadow: 0 0px 0px rgba(0,0,0,.1) !important;
	-moz-box-shadow: 0 none;

}

.nav{
	border-radius: 5px;

}

.navbar .nav{
	float: right;
	
}

.navbar .nav > li > a{
	color: #F4F4F4;
	text-shadow: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 15px;
}


.logo{
	margin-top: 24px;
	margin-left: 8%;
	margin-bottom: 17px;
}

.checkIn{
  border-radius: 5px;
  
  height: 102px;
  margin-left: 30px;
  margin-bottom: 30px;
  width: 90%;
  cursor: pointer;
}



.checkIn .profilePic{
  background-color: #999;
  width: 102px;
  height: 102px;
  display: inline-block;
  
  
}

.profilePic img{
	width: 103px;
	border-radius: 10px;
}

.checkIn .profileContent{
  
  height: 93px;
  display: inline-block;
  vertical-align: top;
  padding: 0px 0 0 10px;

  
}


.profileContent ul li{
  padding-bottom: 10px;
  font-size: .9em;
  list-style: none;
}

.profileContent ul{
  margin: 0px;
  padding-top: 4px;
}

.profileContent ul li.repeat{
  color: green;
  font-weight: bold;
  font-size: .7em;
}

.profileContent .name{
	font-weight: bold;
	font-size: 20px;
}

.profileContent .name .addNote{
	font-weight: normal;
	font-size: 12px;
	float: right;
	padding-right: 10px;

}

.profileContent .name img{
	width: 20px;
	padding-right: 10px;
	vertical-align: middle;
	padding-bottom: 3px;
}

.profileContent .message{
	width: 700px;
	color: #333;
	background-color: #DADADA;
	padding-top: 5px;
	padding-left: 10px;
	border-radius: 10px;
	box-shadow: 1px 1px 1px #888888;
}

.profileContent .message .time{
	font-weight: bold;
	color: #888;
}
.mainContent{
	background-image: url("/assets/content.png");
	border-radius: 5px;
	
}
