// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background-image: url("/assets/background.png"); 
}

.navbar-fixed-top{
	top: 20px;
	padding-top: 0px;
	
}


h1{
	font-family: helvetica, san-serif;
	color:black;
	display: inline;
	vertical-align: middle;
	padding-left: 20px;
	font-size: 37px;
	text-shadow: 0 1px 0 black;
	font-weight: normal;

}

.page-header{
	margin: 20px 0 10px;
}

h2{
	font-family: helvetica;
	color:#EAEAEA;
	display: inline;
	vertical-align: middle;
	padding-left: 10px;
	font-size: 37px;
	text-shadow: 0 1px 0 black;
}

.new_user{
	background-color: #F5F5F5;
	width: 303px;
	padding: 20px 0 20px 30px;
	border-radius: 7px;
	margin-top: 15px;
}

.new_user label{
	font-weight: bold;
}

.content{
	margin: 10px 0 0 0;
}

.sidebar-nav{
	display: none;
}

.productDemo{
	margin-top: 20px;
	width: 100%;
	background-color: black;
	height: 300px;
}

.navbar-fixed-top{
	position: absolute;
}

.navbar-inner{
	background: none;
	border: none;
	box-shadow: 0 0px 0px rgba(0,0,0,.1) !important;
	-moz-box-shadow: 0 none;
	text-align: right;
	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.1) !important;
	font-weight: bold;

}

.nav{
	background-color: #999;
	border-radius: 5px;
}

.navbar .nav{
	float: right;
	
}

.navbar .nav > li > a{
	color: #333;
	text-shadow: none;
}


.logo{
	margin-top: 24px;
	margin-left: 8%;
	margin-bottom: 17px;
}

.checkIn{
  border-radius: 8px;
  border: 1px solid black;
  height: 102px;
  margin-left: 40px;
  margin-bottom: 15px;
  background-color: #F2F2F2;
  width: 90%;
}

.checkIn .profilePic{
  background-color: #999;
  width: 100px;
  height: 100px;
  display: inline-block;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.checkIn .profileContent{
  
  height: 93px;
  display: inline-block;
  vertical-align: top;
  padding: 10px 0 0 10px;
  
}

.profileContent ul li{
  padding-bottom: 10px;
  font-size: .9em;
  list-style: none;
}

.profileContent ul em{
  font-weight: bold;
}

.profileContent ul li.repeat{
  color: green;
  font-weight: bold;
  font-size: .7em;
}

.mainContent{
	background-image: url("/assets/content.png");
	border-radius: 5px;
}
